<nav class="navbar navbar-expand-sm navbar-dark bg-dark"
>
    <div class="container">
        <a class="navbar-brand" href="#">Ristorante Pizzeria BEST</a>
      
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/']" aria-current="page"
                        >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/menu']">Le nostre Pizze</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/menu-cucina']">La nostra Cucina</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contatti']">Contatti</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
